export(HTML.data.frame)
export(age.groups)
export(age.labels)
export(age.years)
export(between)
export(ci.mean)
export(ci.proportion)
export(cipoisson)
export(dateToQuarter)
export(file.grep)
export(fix.dumb.excel.percents.and.commas)
export(graph.power.means)
export(graph.power.prop)
export(is.valid.NHSnum)
export(isdebugged.all)
export(ls.rda)
export(make.pop)
export(penultimate)
export(png.scalable)
export(quarterToDates)
export(rag.blocks)
export(read.snap)
export(rsed)
export(samp.clus)
export(sampsi.means)
export(sampsi.prop)
export(searchable.html.table)
export(sourceDir)
export(sparkline)
export(splice)
export(status.log)
